.cartContainer{
    background-image: url('../../Assets/fondo.jpg');
    background-size: 100vw auto;
    height: auto;
    .block{
        background-color: white;
        color: black;
    }
}

.bloque{
    background-image: url('../../Assets/fondo.jpg');
    background-size: 100vw auto;
    height: 100vh;
}